body,
html {
    font-family: 'Roboto', sans-serif;
}

.nav-head {
    width: 100%;
    background-color: #fff;
}

.ticket-change {
    font-size: 15px;
    color: #3b1d82 !important;
}

.font-change {
    font-size: 15px;
}

.ft-change {
    font-size: 15px;
    color: #ea0763 !important;
}

.font-change:hover {
    color: #ea0763;
}

.bg-pink {
    background-color: #eb0162 !important;
}

.community-hall {
    background-image: url(../images/hero-banner.png);
    background-size: cover;
    background-position: center;
}

.mike-sing {
    font-size: 60px;
    color: white;
}

.ticket-btn {
    background-color: #EA0763;
    border-style: none;
}

.ux-font {
    font-size: 60px;
    font-family: 'oswald', sans-serif;
}

.ux-fontp {
    font-size: 22px;
}

.ux-bgcolor {
    background-color: #f7f7f7;
}

.card {
    border-style: none;
    background-color: #f7f7f7;
}

.city-color {
    color: #EA0763;
}

.city-color2 {
    color: #797979;
}

.sm-color {
    color: #EA0763;
}

.sm-color2 {
    color: #797979;
}

.exp-color {
    color: #3b1d82;
    font-size: 20px;
    padding-right: 60%;
    line-height: 26px;
}

.card-title {
    color: #3b1d82;
    font-size: 27px;
    margin: 0;
    padding-top: 40px;
}

.card-text {
    color: #797979;
    font-size: 14px;
    margin: 0;
}

.ummet-color {
    color: #3b1d82;
    font-family: 'oswald', sans-serif;
    font-size: 36px;
}

.ummet-text {
    color: #797979;
    font-size: 15px;
}

.ummet-card {
    border-style: none;
    background-color: white;
}

.circle-img {
    height: 100px;
    width: 100px;
}

.same-icon {
    color: #3b1d82;
    font-size: 38px;
}

.btn-learn {
    border: 1px solid #3b1d82;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: 'oswald', sans-serif;
}

.btn-learn:hover {
    background-color: #3b1d82;
    color: #ffffff;
}

.speaker-background {
    background-image: url(../images/speaker-bg.png);
    background-size: cover;
    background-position: center;
}

.designer-card {
    position: relative;
    overflow: hidden;
    z-index: 0;
    border: 10px solid white;
}

.opacity {
    height: 0px;
    width: 100%;
    display: grid;
    opacity: 0;
    justify-content: center;
    align-content: center;
    position: absolute;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    z-index: 5;
}

.designer-card:hover .opacity {
    opacity: 0.8;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
    background-color: #3b1d82;
}

.opacity ul li {
    display: inline-block;
}

.designer-card .card-name {
    height: 100px;
    width: 100%;
    background-color: #3b1d82;
    transform: translateY(315px);
    opacity: 0.9;
}

.designer-card:hover .card-name {
    background-color: #ea0763;
    opacity: 0.7;
    transition-delay: 0.4s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    z-index: 5;
}

.designer-card:hover .line {
    color: #ea0763;
}

.employe-desc {
    font-size: 14px;
}

.employe-name {
    font-family: 'oswald', sans-serif;
    font-size: 20px;
}

.fab {
    color: #fff;
}

.event-speaker {
    font-size: 36px;
    font-family: 'oswald', sans-serif;
}

.event-title {
    font-size: 15px;
}

.nav-pills .nav-link,
.nav-pills .show>.nav-link {
    color: #242424;
    background-color: #f7f7f7;
    border-radius: 0px;
}

.schedule-tag {
    font-size: 20px;
    font-family: 'oswald', sans-serif;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #3b1d82;
    border-radius: 0px;
}

.text-change {
    font-size: 20px;
    font-family: 'oswald', sans-serif;
    font-weight: 500;
    text-align: center;
}

.schedule-paragraph {
    color: #797979;
    font-size: 15px;
}

.card-img-first {
    height: 80px;
    width: 80px;
}

.card-bg {
    background-color: #3b1d82;
}

.card:hover .card-bg {
    background-color: #ea0763;
}

.u-name {
    font-size: 22px;
    font-family: 'oswald', sans-serif;
}

.u-desg {
    font-size: 15px;
}

.award-time {
    font-size: 20px;
    color: #242424;
    font-family: 'oswald', sans-serif;
}

.award-paragraph {
    font-size: 15px;
}

.ticket-section {
    background-color: #f7f7f7;
}

.btn-now {
    background-color: #ea0763;
}

.ticket-card {
    background-color: #ffffff;
}

.ticket-card:hover {
    background-color: #3b1d82;
}

.now-footer {
    background-color: #ffffff;
}

.ticket-card:hover .now-footer {
    background-color: #3b1d82;
}

.ticket-part {
    font-size: 27px;
}

.ticket-money {
    font-size: 60px;
}

.card-list ul li {
    list-style: none;
}

.ticket-menu {
    color: #797979;
    font-size: 15px;
}

.false-position {
    color: #ea0763;
}

.ticket-card:hover .ticket-menu,
.ticket-card:hover .ticket-part,
.ticket-card:hover .ticket-money {
    color: #ffffff;
}

.sponser-bg {
    background-image: url(../images/sponsor-bg.png);
    background-size: cover;
    background-position: center;
}

.sponsor-one {
    height: 140px;
    border: 5px solid white;
    transition: all .3s ease 0s;
    padding: 5px;
}

.sponsor-one:hover,
.sponsor-two:hover {
    box-shadow: 0 5px 20px 0 rgba(10, 9, 13, .15);
}

.sponsor-two {
    height: 120px;
    border: 5px solid white;
    transition: all .3s ease 0s;
}

.sponsor-title {
    font-size: 24px;
    font-family: 'oswald', sans-serif;
}

.sponsor-image {
    max-width: 1100px;
}

.bg-plan {
    background-image: url(../images/gallery-bg.png);
    background-size: cover;
    background-position: center;
}

.plan-text {
    font-size: 20px;
    font-family: 'oswald', sans-serif;
    line-height: 30px;
}

.plan-card {
    border: 7px solid #f7f7f7;
}

.plan-body {
    background-color: #f7f7f7;
}

.plan-card:hover {
    border: 7px solid #3b1d82;
}

.plan-card:hover .plan-body {
    color: #ffffff;
    background-color: #3b1d82;
}

.plan-card ul li {
    display: inline-block;
}

.plan-card ul li a {
    color: #797979;
}

.plan-card:hover a {
    color: #fff;
}

.footer-bg {
    background-color: #111429;
}

.list-umeet ul {
    padding: 0;
    margin: 0;
}

.list-umeet ul li {
    list-style: none;
    padding: 0;
}

.list-umeet a {
    color: #666666;
    font-size: 15px;
    line-height: 35px;
    text-decoration: none;
}

.location-arrow {
    color: #fff;
    background-color: #ea0763;
    border-style: none;
}

.feed ul {
    padding: 0;
    margin: 0;
}

.feed ul li {
    display: inline-block;
}

.umeet-title {
    font-size: 20px;
    font-family: 'oswald', sans-serif;
}

.ft-paragraph {
    color: #666666;
    font-size: 15px;
    line-height: 24px;
}

.ft-icon {
    font-size: 18px;
    color: rgba(221, 221, 221, .5);
}

.ft-icon:hover {
    color: #ea0763;
}

.ft-icon-1 {
    color: #ea0763;
}

.footer-copy {
    color: #666666;
    font-size: 15px;
}

.ticket-one {
    color: #503388 !important;
    font-size: 16px;
}

@media screen and (max-width: 425px) {
    .ux-font {
        font-size: 28px;
    }
    .ux-fontp {
        font-size: 20px;
    }
    .mike-sing {
        font-size: 35px;
    }
    .ticket-btn {
        font-size: 15px;
    }
    .exp-color {
        font-size: 18px;
    }
    .city-color {
        font-size: 18px;
    }
    .city-color2 {
        font-size: 15px;
    }
    .card-title {
        font-size: 23px;
    }
    .card-text {
        font-size: 14px;
    }
    .ticket-one {
        font-size: 13px;
    }
    .sm-color2 {
        font-size: 15px;
    }
    .ummet-color {
        font-size: 28px;
    }
    .ummet-text {
        font-size: 15px;
    }
    .event-title {
        font-size: 15px;
    }
    .event-speaker {
        font-size: 28px;
    }
}