body {
    font-family: 'roboto', sans-serif;
}

.nav-link {
    font-size: 15px;
}

.bg-pink {
    background-color: #eb0162 !important;
}

.text-pink {
    color: #eb0162 !important;
}

.text-change:hover {
    color: #eb0162 !important;
}

.community-hall {
    background-image: url(../images/hero-banner.png);
    background-size: cover;
    background-position: center;
}

.mike-sing {
    font-size: 60px;
    color: white;
}

.ticket-btn {
    background-color: #EA0763;
    border-style: none;
}

.ux-font {
    font-size: 60px;
    font-family: 'oswald', sans-serif;
}

.ux-fontp {
    font-size: 22px;
}

.ux-bgcolor {
    background-color: #f7f7f7;
}

.card {
    border-style: none;
    background-color: #f7f7f7;
}

.city-color {
    color: #EA0763;
}

.city-color2 {
    color: #797979;
}

.exp-color {
    color: #3b1d82;
    font-size: 20px;
    padding-right: 60%;
    line-height: 26px;
}

.card-title {
    color: #3b1d82;
    font-size: 27px;
    margin: 0;
    padding-top: 40px;
}

.card-text {
    color: #797979;
    font-size: 14px;
    margin: 0;
}

.ummet-color {
    color: #3b1d82;
    font-family: 'oswald', sans-serif;
}

.ummet-text {
    color: #797979;
    font-size: 15px;
}

.ummet-card {
    border-style: none;
    background-color: white;
}

.circle-img {
    height: 100px;
    width: 100px;
}

.same-icon {
    color: #3b1d82;
    font-size: 38px;
}

.btn-learn {
    border: 1px solid #3b1d82;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: 'oswald', sans-serif;
}

.btn-learn:hover {
    background-color: #3b1d82;
    color: #ffffff;
}

.speaker-background {
    background-image: url(../images/speaker-bg.png);
    background-size: cover;
    background-position: center;
}

.designer-card {
    position: relative;
    overflow: hidden;
    z-index: 0;
    border: 10px solid white;
}

.opacity {
    height: 0px;
    width: 100%;
    display: grid;
    opacity: 0;
    justify-content: center;
    align-content: center;
    position: absolute;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    z-index: 5;
}

.designer-card:hover .opacity {
    opacity: 0.8;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    height: 100%;
    width: 100%;
    background-color: #3b1d82;
}

.opacity ul li {
    display: inline-block;
}

.designer-card .card-name {
    height: 100px;
    width: 100%;
    background-color: #3b1d82;
    transform: translateY(315px);
    opacity: 0.9;
}

.designer-card:hover .card-name {
    background-color: #ea0763;
    opacity: 0.7;
    transition-delay: 0.4s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    z-index: 5;
}

.designer-card:hover .line {
    color: #ea0763;
}

.employe-desc {
    font-size: 14px;
}

.employe-name {
    font-family: 'oswald', sans-serif;
    font-size: 20px;
}

.fab {
    color: #fff;
}